{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
	{% if post.collection == 'publications' %}
			<table class="fixed">
				<col width="20px" />
				<col width="500px" />
				<tr>
						<td><img width="200" height="100" src="  {{post.image}}  "></td>
						{% if post.project %}
							<td>{{ post.citation }} [<a href=" {{ post.paperurl }} "><u>pdf</u></a>][<a href=" {{ post.bibtex }} "><u>bib</u></a>][<a href=" {{ post.project}} "><u>project</u></a>]</td>
						{% else %}
							<td>{{ post.citation }} [<a href=" {{ post.paperurl }} "><u>pdf</u></a>][<a href=" {{ post.bibtex }} "><u>bib</u></a>]</td>
    					{% endif %}
				</tr>
			</table>
    {% endif %}
