{% include base_path %}

<h3> Other Reports </h3>

<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    
	<table class="fixed">
		<col width="20px" />
		<col width="500px" />
		<tr>
				<td><img width="200" height="100" src="http://srikanth-sfu.github.io/images/eccv18_.png"></td>
				<td> S.Muralidharan, F.Tung, G.Mori. PlacesQA: Towards Automatic Answering of Questions on the Web. 2018. [<a href="http://srikanth-sfu.github.io/files/PlacesQA.pdf"><u>pdf</u></a>]</td>
		</tr>
	</table>
	<table class="fixed">
		<col width="20px" />
		<col width="500px" />
		<tr>
				<td><img width="200" height="100" src="http://srikanth-sfu.github.io/images/densecap.png"></td>
				<td> S.Muralidharan, F.Tung, G.Mori. Memory Augmented Recurrent Neural Networks for Dense Video Captioning. 2019. [<a href="http://srikanth-sfu.github.io/files/External_Memory_DenseVid_Captioning.pdf"><u>pdf</u></a>]</td>
		</tr>
	</table>
